<h1 class="center">Subscription</h1>
<div class="center">
  <h3>ID: <%= @subscription.id %></h3>
  <h3>Subscription Status: <%= @subscription.status %></h3>
  <h3>Date Customer First Billed: <%= @subscription.first_billing_date %></h3>
  <h3>Balance: <%= @subscription.balance %></h3>
  <h3>Token: <%= @subscription.payment_method_token %></h3>
</div>
