<!DOCTYPE html>
<html>
  <head>
    <title>Braintree Hosted fields Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="https://js.braintreegateway.com/web/3.33.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.33.0/js/hosted-fields.min.js"></script>
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
